<!-- me.html -->

<!DOCTYPE html>
<html>
    <head>
        <style>
            h2 {color: aquamarine;}
            h3 {color: darkgoldenrod;}
            h1, h2 {text-align: center;}
        </style>
    </head>
    <body>
        <h1>Hello everyone!</h1>
        <h2>Welcome to Casa de German, aka my about me page.</h2>
        <h3>In no particular order, here's a list of my favorite things! </h3>
        <ul>
            <li>My dog Gonzo, <strong>I love him so much!!!</strong> (PS: he's #1 on the list even though it's unordered). </li>
            <li>Biking throughout the city; nothing more I love than riding my Fixie <3 </li>
            <li>Sweets, I have the biggest sweeth tooth. Here's a list of my top 3 sweets: 
                <ol>
                    <li> Cookies (in particular: snickerdoodles, sugar cookies, and chocolate chip) </li>
                    <li> Pumpkin Pie (really the only type of pie I like) </li>
                    <li> Ice Cream (big big fan of shakes / sundaes) </li>
                </ol>
            </li>
        </ul>
        <h3>Here's an obligatory pet tax pic of my boy! </h3>
        <img src="{{url_for('static', filename= 'img/Gonzo2.jpg')}}" width="350" height="auto" alt= "A miniature schnazuer named Gonzo">
    </body>
</html>